#header{  
    display: flex;
    align-items: center;
    height: 50px;    
    justify-content: center;
    border-bottom: 2px solid white;
    position: relative;
    border-top: 2px solid white;
    background-image: linear-gradient( to right,rgb(23, 207, 240),rgb(101, 57, 223),rgb(136, 136, 185));
}

#h{
    display: inline-block;      
    padding: 5px;
    color:rgb(11, 248, 62);
    text-shadow: 4px 4px 2px black;      
}

#linkedin{
    display: inline-block;
    padding: 10px;
    width: 40px;
    height: 40px;
    border:1px solid black;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 20px;
  
}

.con{
    width:300px;
    margin:auto;
    position: relative;   
    border-collapse: collapse;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    
  
}

#btn{
    display: inline-block;    
    background-color: green;
    padding: 10px;
    color: white;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: capitalize !important;
    font-size: 18px;   
     
}

@media screen and (max-width:600px){
    #linkedin{
        right: 10px;

    }
}