.box{
    width: 100px;
    height: 100px;
    display: inline-block;
    /* border:1px solid black; */
    border:1px solid rgb(3, 80, 35); 
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 7px greenyellow;
}